nano .gitignore

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.h5
*.pth
*.pt
*.onnx

# VS Code / Jupyter
.vscode/
.ipynb_checkpoints/

# 环境/依赖
env/
venv/
.env
*.egg-info/

# OS
.DS_Store

# 大文件
*.log
*.tmp
*.zip

.cache/
.lingma_storage/

dataset.json
formatted_dataset.json

data/
